<div class="bird-player">
  <img class="bird-image" src="../../assets/images/bird-silhouettes.png" alt="The bird">
  <div class="player">
    <div class="player__details">
      <div class="bird-name">* * * * * * * *</div>
      <div class="bird-lat-name"></div>
    </div>
    <div class="seek-slider">
      <input class="slider seek-slider__slider" type="range" min="1" max="100" value="0">
      <div class="seek-slider__times">
        <div class="seek-slider__current-time">00:00</div>
        <div class="seek-slider__total-time">00:00</div>
      </div>
    </div>
    <div class="player__play-and-sound">
      <div class="playpause">
        <img class="playpause__image" alt="Play pause" src="../../assets/vectors/circle-play.svg">
      </div>
      <div class="sound-slider">
        <img class="sound-slider__volume sound-slider__volume_low" src="../../assets/vectors/volume-low.svg" alt="Volume low">
        <input class="slider sound-slider__slider" type="range" min="1" max="100" value="99">
        <img class="sound-slider__volume sound-slider__volume_high" src="../../assets/vectors/volume-high.svg" alt="Volume high">
      </div>
    </div>
  </div>
</div>